:root {
  --primary-font: "Exo", sans-serif;
  --secondary-font: 'Open Sans', sans-serif;
  --primary-text-color: #313131;
  --secondary-text-color: #585858;
  --primary-bg-color:#ffffff;
  --secondary-bg-color:#7f3a6a;
  --third-bg-color: #f1e9ee;
  --icon-color:#7f3a6a;
 --accent-color: #e9a923;
  
  --transition-dur-and-func: 250ms linear;
}
